/* Fuentes de texto que se estan utilizando */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Orbitron&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/* Codigo que define el fondo de la parte del body de html*/
.body{
    /* background: linear-gradient(90deg, rgba(60,106,70,1) 0%, rgba(108,224,131,1) 50%, rgba(60,106,70,1) 100%); */
    background-color: rgb(210, 255, 176);
    margin: 0px;
}


/* Codigo que define el texto ubicado en el encabezado */
.TextoTit{
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: rgb(224, 160, 85);
}

.TextoForm{
    font-size: 15px;
}

.boton{
    background-color: white;
    border: 5px outset rgb(28, 148, 53);;
}

.Abajo{
    text-align: center;
}

.Titulo{
    background-color: rgb(28, 148, 53);
    margin:0;
}

.Titulo img{
    margin-left: 40px;
}


/* Codigo que define el estilo que tendra los hipervinculos de la lista ubicados en el encabezado */
.ListaTitulo a{
    font-size: 25px;
    font-family: 'Monofett';
    color: rgb(203, 202, 254);
    margin-left: 40px;
}

/* Codigo que define el estilo que tendra cuando pasas por encima el mouse
    los hipervinculos de la lista ubicados en el encabezado */
.ListaTitulo a:hover{
    background-color: rgb(152, 179, 132);
    color: rgb(203, 202, 254);
}

/* Codigo que define el texto ubicado en el encabezado */
.TextoTitulo{
    font-family: 'Press Start 2P';
    color: rgb(224, 160, 85);
}

.ConsAlum{
    border: 2px solid rgb(152, 179, 132);
    font-size: 1.5em;
}

.ConsAlum a{
    font-style: none;
}

.ConsAlum a:hover{
    background-color: rgb(152, 179, 132);
    font-style: none;
}